@import url(../../components/app/App.css);

.about-container {
    display: contents;
}

.slide {
    animation-duration: 0.5s;
    animation-name: slidedown;
}

.about-resume-container {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.125rem;
    line-height: 2.125rem;
    letter-spacing: -10%;
}

.about-resume-category {
    display: flex;
    flex-direction: column;
}

.about-resume-category span {
    font-family: 'Inter', system-ui;
    font-weight: 700;
    font-size: 1.75rem;
}

.about-resume-category li {
    margin-bottom: 0.5rem;
}

.about-description {
    width: 50vw;
    font-family: 'Inter', system-ui;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: -2px;
}

@keyframes slidedown {
    from {
        transform: translateY(-20%);
    }

    to {
        transform: translateY(0);
    }
}