@import url(../shared/styles.css);

#main-container {
    display: flex;
    align-items: center;
    margin: auto 0;
}

#main-description {
    width: 40rem;
    font-size: 2.5rem;
    text-align: center;
    word-wrap: break-word;
}

#main-name {
    display: inline-block;
    width: 16rem;
    font-family: var(--highlight-text-font-family);
    font-size: 5rem;
    letter-spacing: -0.5rem;
    line-height: 3rem;
    margin-right: -1rem;
}

#main-tree {
    width: 523px;
    height: 373px;
}