/* Note: Path is from components folder */
@import url(../app/App.css);

:root {
  --header-height: 11.25rem;
  --header-nav-item-font-size: 1.5rem;
  --header-nav-item-gap: 10rem;
  --header-nav-item-font-family: 'ClashDisplay-Light', system-ui;
}

#header {
  width: 100%;
  height: var(--header-height);

  & a {
    text-decoration: none;
  }
}

#header-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#header-navigation-list {
  display: flex;
  column-gap: var(--header-nav-item-gap);

  & li {
    font-size: var(--header-nav-item-font-size);
    font-family: var(--header-nav-item-font-family);

    & a {
        text-decoration: none;
      }
  }
}