@import url('../shared/styles.css');

:root {
    /* Non-plane Component Configuration */
    --heading-top-margin: 6rem;
    --heading-font-size: 3rem;
    --heading-font-family: 'Press Start 2P', system-ui;
    --name-font-size: 2.25rem;
    /* Need to use Absolute position, so we need to calculate center using width/height */
    --name-width: 238px;
    --name-height: 44px;

    /* Plane Animation Configuration */
    --plane-animation-type: steps(1, end);
    --plane-animation-time: 2s;
    --plane-animation-frequency: 1;

    --plane-hover-animation-type: ease-out;
    --plane-hover-animation-time: 2.5s;
    --plane-hover-animation-frequency: infinite;

    /* Fly-in Plane Dimensions & Coordinates */
    --plane-one-width: 64px;
    --plane-one-height: 34px;
    --plane-one-x: 120px;
    --plane-one-y: 120px;
    --plane-two-width: 89px;
    --plane-two-height: 49px;
    --plane-two-x: calc(var(--plane-one-x) - 52px);
    --plane-two-y: calc(var(--plane-one-y) + 16px);
    --plane-three-width: 99px;
    --plane-three-height: 53px;
    --plane-three-x: calc(var(--plane-two-x) + 15px);
    --plane-three-y: calc(var(--plane-two-y) + 33px);
    --plane-four-width: 115px;
    --plane-four-height: 64px;
    --plane-four-x: calc(var(--plane-three-x) - 15px);
    --plane-four-y: calc(var(--plane-three-y) + 37.5px);
    --plane-five-width: 166px;
    --plane-five-height: 65px;
    --plane-five-x: calc(var(--plane-four-x) + 111.5px);
    --plane-five-y: calc(var(--plane-four-y) + 52px);
    --plane-six-width: 212px;
    --plane-six-height: 78px;
    --plane-six-x: calc(var(--plane-five-x) + 117px);
    --plane-six-y: calc(var(--plane-five-y) + 44.5px);
    --plane-seven-width: 225px;
    --plane-seven-height: 81px;
    --plane-seven-x: calc(var(--plane-six-x) + 53px);
    --plane-seven-y: calc(var(--plane-six-y) + 4px);
    --plane-eight-width: 225px;
    --plane-eight-height: 84px;
    --plane-eight-x: calc(var(--plane-seven-x) - 1px);
    --plane-eight-y: calc(var(--plane-seven-y) - 4px);
    --plane-nine-width: 222px;
    --plane-nine-height: 83px;
    --plane-nine-x: calc(var(--plane-eight-x) - 3.5px);
    --plane-nine-y: calc(var(--plane-eight-y) + 55.5px);

    /* Drop-in Plane Dimensions & Coordinates */
    --landing-plane-one-width: 218px;
    --landing-plane-one-height: 85px;
    --landing-plane-one-x: calc(var(--plane-nine-x) + 0px);
    --landing-plane-one-y: calc(var(--plane-nine-y) + 31px);
    --landing-plane-two-width: 216px;
    --landing-plane-two-height: 86px;
    --landing-plane-two-x: calc(var(--landing-plane-one-x) - 2.5px);
    --landing-plane-two-y: calc(var(--landing-plane-one-y) + 35px);
    --landing-plane-three-width: 216px;
    --landing-plane-three-height: 85px;
    --landing-plane-three-x: calc(var(--landing-plane-two-x) - 0.5px);
    --landing-plane-three-y: calc(var(--landing-plane-two-y) + 23px);
    --landing-plane-four-width: 213px;
    --landing-plane-four-height: 85px;
    --landing-plane-four-x: calc(var(--landing-plane-three-x) + 0.5px);
    --landing-plane-four-y: calc(var(--landing-plane-three-y) + 16px);
    --landing-plane-five-width: 217px;
    --landing-plane-five-height: 85px;
    --landing-plane-five-x: calc(var(--landing-plane-four-x) - 4px);
    --landing-plane-five-y: calc(var(--landing-plane-four-y) + 10.5px);
    --landing-plane-six-width: 273px;
    --landing-plane-six-height: 148px;
    --landing-plane-six-x: calc(var(--landing-plane-five-x) - 6.5px);
    --landing-plane-six-y: calc(var(--landing-plane-five-y) - 31px);
    --landing-plane-seven-width: 270px;
    --landing-plane-seven-height: 166px;
    --landing-plane-seven-x: calc(var(--landing-plane-six-x) - 0px);
    --landing-plane-seven-y: calc(var(--landing-plane-six-y) + 5px);
    --landing-plane-eight-width: 281px;
    --landing-plane-eight-height: 160px;
    --landing-plane-eight-x: calc(var(--landing-plane-seven-x) - 6px);
    --landing-plane-eight-y: calc(var(--landing-plane-seven-y) + 6px);
    --landing-plane-nine-width: 281px;
    --landing-plane-nine-height: 176px;
    --landing-plane-nine-x: calc(var(--landing-plane-eight-x) - 0px);
    --landing-plane-nine-y: calc(var(--landing-plane-eight-y) - 16px);
    --landing-plane-ten-width: 282px;
    --landing-plane-ten-height: 172px;
    --landing-plane-ten-x: calc(var(--landing-plane-nine-x) - 0px);
    --landing-plane-ten-y: calc(var(--landing-plane-nine-y) + 5px);
    --landing-plane-eleven-width: 282px;
    --landing-plane-eleven-height: 172px;
    --landing-plane-eleven-x: calc(var(--landing-plane-ten-x) - 0px);
    --landing-plane-eleven-y: calc(var(--landing-plane-ten-y) + 0px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}

.heading-container {
    margin-top: var(--heading-top-margin);
}

.heading {
    font-size: var(--heading-font-size);
    color: #ffffff;
    font-family: var(--heading-font-family);
}

.heading::after {
    content: 'SHIP APPROACHING.';
    animation: heading 3s linear infinite normal;
}

#name-container {
    position: relative;
    width: 100vw;
}

#name {
    position: absolute;
    /* Should be placed at the center */
    left: calc(50vw - var(--name-width) / 2);
    top: calc(50vh - var(--name-height) / 2);
    opacity: 0;
    font-size: var(--name-font-size);
    font-family: var(--highlight-text-font-family);
}

@keyframes heading {
    0% {
        content: 'SHIP APPROACHING.';
    }

    20% {
        content: 'SHIP APPROACHING..';
    }

    40% {
        content: 'SHIP APPROACHING...';
    }

    60% {
        content: 'SHIP APPROACHING....';
    }

    80% {
        content: 'SHIP APPROACHING.....';
    }

    100% {
        content: 'SHIP APPROACHING.....';
    }
}

.plane-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

.plane {
    position: absolute;
    opacity: 0;
}

/* Fly-in Animation */

#loading-plane {
    animation: plane-hover var(--plane-hover-animation-time) var(--plane-hover-animation-type) var(--plane-hover-animation-frequency) normal;
}

#loading-plane:hover {
    animation: none;
    cursor: pointer;
}

.fly-in .plane-one {
    background-image: url('../../img/Paper-Plane-1.png');
    width: var(--plane-one-width);
    height: var(--plane-one-height);
    left: calc(50% - var(--plane-one-width) / 2 + var(--plane-one-x) );
    top: calc(var(--plane-one-height) / 2 + var(--plane-one-y));
    animation: plane-one-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) normal;
}

.fly-in .plane-two {
    background-image: url('../../img/Paper-Plane-2.png');
    width: var(--plane-two-width);
    height: var(--plane-two-height);
    left: calc(50% - var(--plane-two-width) / 2 + var(--plane-two-x));
    top: calc(var(--plane-two-height) / 2 + var(--plane-two-y));
    animation: plane-two-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) normal;
}

.fly-in .plane-three {
    background-image: url('../../img/Paper-Plane-3.png');
    width: var(--plane-three-width);
    height: var(--plane-three-height);
    left: calc(50% - var(--plane-three-width) / 2 + var(--plane-three-x));
    top: calc(var(--plane-three-height) / 2 + var(--plane-three-y));
    animation: plane-three-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) normal;
}

.fly-in .plane-four {
    background-image: url('../../img/Paper-Plane-4.png');
    width: var(--plane-four-width);
    height: var(--plane-four-height);
    left: calc(50% - var(--plane-four-width) / 2 + var(--plane-four-x));
    top: calc(var(--plane-four-height) / 2 + var(--plane-four-y));
    animation: plane-four-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) normal;
}

.fly-in .plane-five {
    background-image: url('../../img/Paper-Plane-5.png');
    width: var(--plane-five-width);
    height: var(--plane-five-height);
    left: calc(50% - var(--plane-five-width) / 2 + var(--plane-five-x));
    top: calc(var(--plane-five-height) / 2 + var(--plane-five-y));
    animation: plane-five-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) normal;
}

.fly-in .plane-six {
    background-image: url('../../img/Paper-Plane-6.png');
    width: var(--plane-six-width);
    height: var(--plane-six-height);
    left: calc(50% - var(--plane-six-width) / 2 + var(--plane-six-x));
    top: calc(var(--plane-six-height) / 2 + var(--plane-six-y));
    animation: plane-six-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) normal;
}

.fly-in .plane-seven {
    background-image: url('../../img/Paper-Plane-7.png');
    width: var(--plane-seven-width);
    height: var(--plane-seven-height);
    left: calc(50% - var(--plane-seven-width) / 2 + var(--plane-seven-x));
    top: calc(var(--plane-seven-height) / 2 + var(--plane-seven-y));
    animation: plane-seven-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) normal;
}

.fly-in .plane-eight {
    background-image: url('../../img/Paper-Plane-8.png');
    width: var(--plane-eight-width);
    height: var(--plane-eight-height);
    left: calc(50% - var(--plane-eight-width) / 2 + var(--plane-eight-x));
    top: calc(var(--plane-eight-height) / 2 + var(--plane-eight-y));
    animation: plane-eight-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) normal;
}

.fly-in .plane-nine {
    background-image: url('../../img/Paper-Plane-9.png');
    width: var(--plane-nine-width);
    height: var(--plane-nine-height);
    left: calc(50% - var(--plane-nine-width) / 2 + var(--plane-nine-x));
    top: calc(var(--plane-nine-height) / 2 + var(--plane-nine-y));
    animation: plane-nine-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) normal;
}

.drop-in .plane-one {
    background-image: url('../../img/Landing-Paper-Plane-1.png');
    width: var(--landing-plane-one-width);
    height: var(--landing-plane-one-height);
    left: calc(50% - var(--landing-plane-one-width) / 2 + var(--landing-plane-one-x));
    top: calc(var(--landing-plane-one-height) / 2 + var(--landing-plane-one-y));
    animation: landing-plane-one-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) paused normal;
}

.drop-in .plane-two {
    background-image: url('../../img/Landing-Paper-Plane-2.png');
    width: var(--landing-plane-two-width);
    height: var(--landing-plane-two-height);
    left: calc(50% - var(--landing-plane-two-width) / 2 + var(--landing-plane-two-x));
    top: calc(var(--landing-plane-two-height) / 2 + var(--landing-plane-two-y));
    animation: landing-plane-two-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) paused normal;
}

.drop-in .plane-three {
    background-image: url('../../img/Landing-Paper-Plane-3.png');
    width: var(--landing-plane-three-width);
    height: var(--landing-plane-three-height);
    left: calc(50% - var(--landing-plane-three-width) / 2 + var(--landing-plane-three-x));
    top: calc(var(--landing-plane-three-height) / 2 + var(--landing-plane-three-y));
    animation: landing-plane-three-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) paused normal;
}

.drop-in .plane-four {
    background-image: url('../../img/Landing-Paper-Plane-4.png');
    width: var(--landing-plane-four-width);
    height: var(--landing-plane-four-height);
    left: calc(50% - var(--landing-plane-four-width) / 2 + var(--landing-plane-four-x));
    top: calc(var(--landing-plane-four-height) / 2 + var(--landing-plane-four-y));
    animation: landing-plane-four-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) paused normal;
}

.drop-in .plane-five {
    background-image: url('../../img/Landing-Paper-Plane-5.png');
    width: var(--landing-plane-five-width);
    height: var(--landing-plane-five-height);
    left: calc(50% - var(--landing-plane-five-width) / 2 + var(--landing-plane-five-x));
    top: calc(var(--landing-plane-five-height) / 2 + var(--landing-plane-five-y));
    animation: landing-plane-five-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) paused normal;
}

.drop-in .plane-six {
    background-image: url('../../img/Landing-Paper-Plane-6.png');
    width: var(--landing-plane-six-width);
    height: var(--landing-plane-six-height);
    left: calc(50% - var(--landing-plane-six-width) / 2 + var(--landing-plane-six-x));
    top: calc(var(--landing-plane-six-height) / 2 + var(--landing-plane-six-y));
    animation: landing-plane-six-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) paused normal;
}

.drop-in .plane-seven {
    background-image: url('../../img/Landing-Paper-Plane-7.png');
    width: var(--landing-plane-seven-width);
    height: var(--landing-plane-seven-height);
    left: calc(50% - var(--landing-plane-seven-width) / 2 + var(--landing-plane-seven-x));
    top: calc(var(--landing-plane-seven-height) / 2 + var(--landing-plane-seven-y));
    animation: landing-plane-seven-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) paused normal;
}

.drop-in .plane-eight {
    background-image: url('../../img/Landing-Paper-Plane-8.png');
    width: var(--landing-plane-eight-width);
    height: var(--landing-plane-eight-height);
    left: calc(50% - var(--landing-plane-eight-width) / 2 + var(--landing-plane-eight-x));
    top: calc(var(--landing-plane-eight-height) / 2 + var(--landing-plane-eight-y));
    animation: landing-plane-eight-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) paused normal;
}

.drop-in .plane-nine {
    background-image: url('../../img/Landing-Paper-Plane-9.png');
    width: var(--landing-plane-nine-width);
    height: var(--landing-plane-nine-height);
    left: calc(50% - var(--landing-plane-nine-width) / 2 + var(--landing-plane-nine-x));
    top: calc(var(--landing-plane-nine-height) / 2 + var(--landing-plane-nine-y));
    animation: landing-plane-nine-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) paused normal;
}

.drop-in .plane-ten {
    background-image: url('../../img/Landing-Paper-Plane-10.png');
    width: var(--landing-plane-ten-width);
    height: var(--landing-plane-ten-height);
    left: calc(50% - var(--landing-plane-ten-width) / 2 + var(--landing-plane-ten-x));
    top: calc(var(--landing-plane-ten-height) / 2 + var(--landing-plane-ten-y));
    animation: landing-plane-ten-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) paused normal;
}

.drop-in .plane-eleven {
    background-image: url('../../img/Landing-Paper-Plane-10.png');
    width: var(--landing-plane-eleven-width);
    height: var(--landing-plane-eleven-height);
    left: calc(50% - var(--landing-plane-eleven-width) / 2 + var(--landing-plane-eleven-x));
    top: calc(var(--landing-plane-eleven-height) / 2 + var(--landing-plane-eleven-y));
    animation: landing-plane-eleven-pulse var(--plane-animation-time) var(--plane-animation-type) var(--plane-animation-frequency) paused normal;
}

/*** Animations ***/

/* Fly-in Animation */

@keyframes plane-one-pulse {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }
}

@keyframes plane-two-pulse {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }
}

@keyframes plane-three-pulse {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

@keyframes plane-four-pulse {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

@keyframes plane-five-pulse {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes plane-six-pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0
    }
}

@keyframes plane-seven-pulse {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0
    }
}

@keyframes plane-eight-pulse {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 0
    }
}

@keyframes plane-nine-pulse {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

/* Drop-in Animation */

@keyframes landing-plane-one-pulse {
    0% {
        opacity: 1;
    }

    8% {
        opacity: 0;
    }
}

@keyframes landing-plane-two-pulse {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    16% {
        opacity: 0;
    }
}

@keyframes landing-plane-three-pulse {
    0% {
        opacity: 0;
    }

    16% {
        opacity: 1;
    }

    24% {
        opacity: 0;
    }
}

@keyframes landing-plane-four-pulse {
    0% {
        opacity: 0;
    }

    24% {
        opacity: 1;
    }

    32% {
        opacity: 0;
    }
}

@keyframes landing-plane-five-pulse {
    0% {
        opacity: 0;
    }

    32% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

@keyframes landing-plane-six-pulse {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    48% {
        opacity: 0
    }
}

@keyframes landing-plane-seven-pulse {
    0% {
        opacity: 0;
    }

    48% {
        opacity: 1;
    }

    56% {
        opacity: 0
    }
}

@keyframes landing-plane-eight-pulse {
    0% {
        opacity: 0;
    }

    56% {
        opacity: 1;
    }

    64% {
        opacity: 0
    }
}

@keyframes landing-plane-nine-pulse {
    0% {
        opacity: 0;
    }

    64% {
        opacity: 1;
    }

    72% {
        opacity: 0
    }
}

@keyframes landing-plane-ten-pulse {
    0% {
        opacity: 0;
    }

    72% {
        opacity: 1;
    }

    80% {
        opacity: 0
    }
}

@keyframes landing-plane-eleven-pulse {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

@keyframes plane-hover {
    0% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-8deg);
    }
            
    100% {
        transform: rotate(8deg);
    }
}