.tree {
  display: flex;
  justify-content: center;
}

.tree ul {
  padding-top: 2rem;
  position: relative;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #fff;
  width: 50%;
  height: 2rem;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #fff;
}

.tree li:only-child::before,
.tree li:only-child::after {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 1px solid #fff;
  border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #fff;
  width: 0;
  height: 2rem;
}

.tree li div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 6rem;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "ClashDisplay-Semibold";
  border-radius: 5px;
}

.filled {
  background-color: #4b60c0;
}

.outlined {
  border: 1px solid #4b60c0;
}

@media screen and (max-width: 887px) {
  .tree li div {
    width: 6rem;
    height: 4rem;
    font-size: 0.75rem;
  }
}
