.arcaders-app-container {
    font-family: var(--arcade-font-family);
}

.arcaders-app-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 100vw;
    background-image: url('../../../../public/img/arcaders_preview.png');
    background-position: center;
    row-gap: 2rem;
}

.hover-show:hover {
    opacity: 1;
    transition: all 0.2s ease-in; 
}