.arcaders-app-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 100vw;
  background-image: url("../../../../public/img/arcaders_bg_preview.png");
  background-position: center;
}

.hover-show:hover {
  opacity: 1;
  transition: all 0.2s ease-in;
}
