@import url('../../index.css');

.intro-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-heading-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#intro-name-container {
    flex-grow: 0;
    display: flex;
    align-items: last baseline;
    margin-bottom: -10rem;
}

.intro-heading {
    font-size: 3rem;
    color: #ffffff;
    font-family: 'Press Start 2P',
        system-ui;
}

.intro-heading::after {
    content: 'SHIP APPROACHING.';
    animation: heading 3s linear infinite normal;
}

.plane-container {
    position: relative;
    flex-grow: 2;
}

#name {
    font-size: 2.25rem;
    font-family: 'ClashDisplay-Regular',
        system-ui;
    opacity: 0;
}

@keyframes heading {
    0% {
        content: 'SHIP APPROACHING.';
    }

    20% {
        content: 'SHIP APPROACHING..';
    }

    40% {
        content: 'SHIP APPROACHING...';
    }

    60% {
        content: 'SHIP APPROACHING....';
    }

    80% {
        content: 'SHIP APPROACHING.....';
    }

    100% {
        content: 'SHIP APPROACHING.....';
    }
}