/* Note: Path is from components folder */
@import url(../app/App.css);

:root {
  --header-height: 11.25rem;
  --header-nav-item-font-size: 1.5rem;
  --header-nav-item-gap: 10rem;
  --header-nav-item-font-family: 'ClashDisplay-Light', system-ui;
}

#header {
  width: 100%;
  height: var(--header-height);

  & a {
    text-decoration: none;
  }
}

#header-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.mobile-menu-toggle {
  display: none;
  z-index: 10000;
}

#header-navigation a.active {
  text-shadow: 0px 0px 5px, 0px 0px 10px, 0px 0px 20px, 0px 0px 40px, 0px 0px 80px;
}

#header-navigation-list {
  display: flex;
  column-gap: var(--header-nav-item-gap);

  & li {
    font-size: var(--header-nav-item-font-size);

    & a {
      text-decoration: none;
      font-family: var(--header-nav-item-font-family);
    }
  }
}

.navitem-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: #fff;
  height: 1px;
  transition: all 0.35s;
}

#header-navigation ul li a:not(.active):hover .navitem-underline {
  width: 100%;
}

@media (max-width: 1024px) {
  .mobile-menu-toggle {
    display: block;
    z-index: 10000;
  }

  #header-navigation-list {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0;
    background: #303030;
    width: 100%;
    height: auto;
    max-height: 0;
    overflow: hidden;
    z-index: 9999;
    transition: max-height 0.3s ease-in-out;
  }

  #header-navigation-list.open {
    max-height: 300px;
  }

  #header-navigation-list li {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
  }
}