/* Note: Path is from components folder */
@import url(../app/App.css);

#overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  /* mask: url("../../../public/img/light_mask.svg") center/contain no-repeat;
  mask-composite: exclude; */
}

.blink {
  animation: blink 1.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes blink {
  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
}