/* Note: Path is from components folder */
@import url(../app/App.css);

#overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.blink {
  animation: blink 2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes blink {
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}