/* Note: Path is from components folder */
@import url(../app/App.css);

#overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  /* filter: brightness(0) saturate(100%) sepia(13%) saturate(4117%) hue-rotate(313deg) contrast(86%);
  mask-image: url(../../../public/img/light_mask.svg);
  mask-size: 100%;
  mask-repeat: no-repeat; */
}

.blink {
  animation: blink 2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes blink {
  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
}